@charset "UTF-8";
/**
 *
 
 Bicycle PSD downloaded form: 
 https://freebiesbug.com/psd-freebies/bicycle-flat-one-page-template/ 
 PSD designed by Yebo.
 Coded by: Damian Wiśniewski
 
 * 
 **/
/*=============================================
=                  Reset CSS                  =
=============================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*=====  End of Reset CSS  ======*/
html, body {
  height: 100%;
  font-family: "Lato", Arial, sans-serif;
}

/*=============================================
=                    HEADER                   =
=============================================*/
.header {
  min-height: 100%;
  background: url(../img/images/main_img.jpg) no-repeat center;
  background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
  /*----------  Navigation  ----------*/
  /*----------  Scroll down button  ----------*/
}
.header__nav {
  max-width: 800px;
  min-width: 800px;
  margin-top: 73px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 800px;
  top: 36px;
}
.header__button {
  /* Hamburger button - hidden */
  display: none;
}
.header__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.header__item--longer {
  margin-right: 120px;
}
.header__item:nth-child(even):before {
  content: " ";
  width: 2px;
  height: 2px;
  background-color: #000;
  position: relative;
  left: -50px;
  top: 10px;
}
.header__link {
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Lato", Arial, sans-serif;
  color: #4d4959;
}
.header__link:hover {
  color: #64c29e;
}
.header__scrollContainer {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__scrollBtn {
  display: block;
  width: 25px;
  height: 45px;
  border-radius: 40%;
  outline: none;
  border: 2px solid #282f35;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  padding: 0;
}
.header__scrollBtn:after {
  content: "";
  display: block;
  margin: auto;
  width: 7px;
  height: 15px;
  border-radius: 40%;
  background-color: #64c29e;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-animation: scroll 1.5s linear infinite;
          animation: scroll 1.5s linear infinite;
}
.header__scrollLink {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
}
/*=====  End of HEADER  ======*/
/*=============================================
=              ABOUT and TWITTER              =
=============================================*/
.about, .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5%;
}
.about__header, .twitter__header {
  text-transform: uppercase;
  color: #353738;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 1.5%;
}
.about__content, .twitter__content {
  color: #848789;
  font-size: 1em;
  line-height: 1.8;
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twitter__content {
  font-style: italic;
  margin: auto;
}
.twitter__time {
  font-weight: normal;
  color: #848789;
  text-transform: lowercase;
}
.twitter__slide {
  display: none;
}
.twitter__slide--show {
  display: block;
}
.twitter__buttonbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 30px;
}
.twitter__buttons {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #929292;
  border-radius: 50%;
  outline: none;
}
.twitter__buttons:hover, .twitter__buttons--selected {
  background-color: #929292;
}

/*=====  End of ABOUT and TWITTER   ======*/
/*=============================================
=                    WORK                     =
=============================================*/
.work {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*----------  slyles for scroll animation  ----------*/
}
.work__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: url(../img/images/other.jpg) no-repeat center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__image--dark {
  background: url(../img/images/dark-bike.jpg) no-repeat center;
  background-size: cover;
}
.work__image--frame {
  background: url(../img/images/red-frame.jpg) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.work__image--red {
  background: url(../img/images/red-bike.jpg) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.work__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-align: justify;
  padding: 10%;
  position: relative;
}
.work__article:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  bottom: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.work__header {
  text-transform: uppercase;
  color: #353738;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 1.5%;
  margin-top: 7%;
  margin-bottom: 3%;
}
.work__content {
  color: #848789;
  font-size: 1em;
  line-height: 1.8;
}
.work__content:after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 1px solid #848789;
  margin: auto;
  margin-top: 7%;
}
.work__example {
  width: 100%;
}
.work__hiddenRight {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}
.work__hiddenLeft {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}
.work__article--hidden {
  -webkit-transform: scale(0.2, 0.2);
          transform: scale(0.2, 0.2);
}
.work__show {
  -webkit-transform: translateX(0) scale(1, 1);
          transform: translateX(0) scale(1, 1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

/*=====  End of WORK  ======*/
/*=============================================
=                    SHOP                     =
=============================================*/
.shop {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop__large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.shop__cell {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.shop__cell:hover > .shop__link {
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 0.85;
}
.shop__image {
  width: 100%;
  height: auto;
}
.shop__link {
  position: absolute;
  background-color: #64c29e;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

/*=====  End of SHOP  ======*/
/*=============================================
=                 ENTER SHOP                  =
=============================================*/
.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #282f35;
  /*----------  Enter shop button  ----------*/
}
.enter__btn {
  margin: 4% auto;
  width: 250px;
  background-color: transparent;
  border: 1px solid #929292;
  padding: 0;
}
.enter__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 10%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.enter__link:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #929292;
  color: #282f35;
}

/*=====  End of ENTER SHOP  ======*/
/*=============================================
=                   MAILING                   =
=============================================*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5%;
}
.contact__header {
  margin: 2%;
  color: #848789;
  font-style: italic;
  font-size: 1.3em;
}
.contact__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.contact__email {
  margin-left: 3px;
  width: 250px;
  padding: 15px;
  font-style: italic;
  color: #929292;
  font-size: 0.85em;
  border: 1px solid #929292;
}
.contact__btn {
  color: #fff;
  background-color: #64c29e;
  border: none;
  width: 70px;
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 5px;
}
.contact__visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*=====  End of MAILING  ======*/
/*=============================================
=                   FOOTER                    =
=============================================*/
.footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 5% 10%;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  /*----------  Scroll top Button  ----------*/
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__col--start {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__col--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__col--social {
  min-width: 300px;
}
.footer__item {
  margin: 7px;
  font-size: 0.85em;
  color: #848789;
  font-style: italic;
}
.footer__address {
  font-size: 0.85em;
  color: #848789;
}
.footer__address--bold {
  font-weight: bold;
}
.footer__scrollTop {
  position: fixed;
  display: block;
  bottom: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(100, 194, 158, 0.75);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}
.footer__scrollTop:after {
  display: block;
  content: "";
  width: 20px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(125deg) translateX(-7px) translateY(0px);
          transform: rotate(125deg) translateX(-7px) translateY(0px);
}
.footer__scrollTop:before {
  display: block;
  content: "";
  width: 20px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(47deg) translateX(6px) translateY(-14.5px);
          transform: rotate(47deg) translateX(6px) translateY(-14.5px);
}
.footer__scrollTop--hidden {
  bottom: -20%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/*=====  End of FOOTER  ======*/
/*=============================================
=                MEDIA QUERIES                =
=============================================*/
/*----------  Large 1220px  ----------*/
@media all and (max-width: 1220px) {
  .work__image--red {
    display: none;
  }
}
/*----------  Medium 950px  ----------*/
@media all and (max-width: 950px) {
  .header {
    overflow: hidden;
    background: url(../img/images/background-smaller.jpg) no-repeat center;
    background-size: cover;
    /*----------  HAMBURGER BUTTON ----------*/
    /*----------  Navigation List ----------*/
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    max-width: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
    padding: 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    position: static;
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__button {
    display: block;
    position: relative;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-item-align: center;
        align-self: center;
    width: 40px;
    height: 30px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    border-top: 5px solid #64c29e;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    overflow: visible;
  }
  .header__button:before {
    content: "";
    display: block;
    width: 100%;
    border-top: 5px solid #64c29e;
    position: absolute;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  }
  .header__button:after {
    content: "";
    display: block;
    width: 100%;
    border-top: 5px solid #64c29e;
    position: absolute;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  }
  .header__button--used {
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    width: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__button--used:before {
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    -webkit-transform: rotate(-45deg) translateY(-13.5px) translateX(-12px);
            transform: rotate(-45deg) translateY(-13.5px) translateX(-12px);
    width: 200%;
  }
  .header__button--used:after {
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    -webkit-transform: rotate(-90deg) translateY(8.5px) translateX(10px);
            transform: rotate(-90deg) translateY(8.5px) translateX(10px);
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: 3%;
    margin-bottom: 60px;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    min-width: 90%;
  }
  .header__list--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__item {
    border-radius: 20px;
    margin-top: 1%;
    background-color: #FFF;
    opacity: 0.6;
    font-size: 2em;
    font-weight: bold;
    margin-right: 0;
    line-height: 2em;
  }
  .header__item:nth-child(even):before {
    display: none;
  }
  .header__link {
    width: 100%;
  }
  .header__link:hover {
    color: #fff;
    background-color: #64c29e;
    border-radius: inherit;
  }
  .header__scrollCointainer {
    width: 90%;
  }

  .work__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*----------  Small 720px  ----------*/
@media all and (max-width: 720px) {
  .footer__col--social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2em;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .work__image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    min-height: 200px;
  }
  .work__image--dark {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .work__info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .shop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shop__large {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .shop__cell--big {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
}
/*----------  Mini 450px  ----------*/
@media all and (max-width: 450px) {
  .header__scrollContainer {
    display: none;
  }

  .contact__email {
    width: 100%;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__col {
    text-align: center;
    margin: 5% 0;
  }
  .footer__col--social {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*=====  End of MEDIA QUERIES  ======*/
