/*=============================================
=                  Reset CSS                  =
=============================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*=====  End of Reset CSS  ======*/
html, body {
  height: 100%;
  font-family: "Lato", Arial, sans-serif;
}

/*=============================================
=                    HEADER                   =
=============================================*/
.header {
  height: 100%;
  background: url(../img/images/main_img.jpg) no-repeat center;
  background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
  /*----------  Navigation  ----------*/
  /*----------  HAMBURGER  ----------*/
}
.header__nav {
  max-width: 800px;
  min-width: 800px;
  margin-top: 73px;
  display: inline-flex;
  flex: 1;
  justify-content: center;
}
.header__logo {
  position: absolute;
  top: 35px;
}
.header__button {
  display: none;
  position: relative;
  align-items: flex-end;
  align-self: center;
  width: 40px;
  height: 30px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-top: 3px solid #282f35;
  transition: transform .1s linear;
}
.header__button:before {
  content: "";
  display: flex;
  width: 100%;
  border-top: 3px solid #282f35;
  position: absolute;
  transition: transform .1s linear;
}
.header__button:after {
  content: "";
  display: flex;
  width: 100%;
  border-top: 3px solid #282f35;
  position: absolute;
  transform: translateY(14px);
  transition: transform .1s linear;
}
.header__button--used {
  transition: transform .1s linear;
  width: 20px;
  transform: rotate(45deg);
}
.header__button--used:before {
  transition: transform .1s linear;
  transform: rotate(-45deg) translateY(-10.5px) translateX(-13px);
  width: 200%;
}
.header__button--used:after {
  transition: transform .1s linear;
  transform: rotate(-90deg) translateY(9px) translateX(5px);
}
.header__list {
  display: inline-flex;
  flex: 1;
  justify-content: center;
}
.header__item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}
.header__item--longer {
  margin-right: 120px;
}
.header__item:nth-child(even):before {
  content: " ";
  width: 2px;
  height: 2px;
  background-color: #000;
  position: relative;
  left: -50px;
  top: 10px;
}
.header__link {
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Lato", Arial, sans-serif;
  color: #4d4959;
}
.header__link:hover {
  color: #64c29e;
}

/*=====  End of HEADER  ======*/
/*=============================================
=              ABOUT and TWITTER              =
=============================================*/
.about, .twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
}
.about__header, .twitter__header {
  text-transform: uppercase;
  color: #353738;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 1.5%;
}
.about__content, .twitter__content {
  color: #848789;
  font-size: 1em;
  line-height: 1.8;
  max-width: 1000px;
  display: flex;
}

.twitter__content {
  font-style: italic;
}
.twitter__time {
  font-weight: normal;
  color: #848789;
  text-transform: lowercase;
}

/*=====  End of ABOUT and TWITTER   ======*/
/*=============================================
=                    WORK                     =
=============================================*/
.work {
  display: inline-flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}
.work__image {
  display: flex;
  min-width: 400px;
  min-height: 400px;
  flex: 2;
  background: url(../img/images/other.jpg) no-repeat center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.work__image--dark {
  background: url(../img/images/dark-bike.jpg) no-repeat center;
  background-size: cover;
}
.work__image--frame {
  background: url(../img/images/red-frame.jpg) no-repeat center;
  background-size: cover;
  flex: 1;
}
.work__image--red {
  background: url(../img/images/red-bike.jpg) no-repeat center;
  background-size: cover;
  flex: 1;
}
.work__info {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  flex: 1;
}
.work__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-align: justify;
  padding: 10%;
  position: relative;
}
.work__article:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  bottom: -5px;
  transform: rotate(45deg);
}
.work__header {
  text-transform: uppercase;
  color: #353738;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 1.5%;
  margin-top: 7%;
  margin-bottom: 3%;
}
.work__content {
  color: #848789;
  font-size: 1em;
  line-height: 1.8;
}
.work__content:after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 1px solid #848789;
  margin: auto;
  margin-top: 7%;
}
.work__example {
  width: 100%;
}

/*=====  End of WORK  ======*/
/*=============================================
=                    SHOP                     =
=============================================*/
.shop {
  display: inline-flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.shop__large {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex: 2;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.shop__row {
  display: inline-flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}
.shop__cell {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.shop__cell--big {
  min-width: 150px;
  min-height: 300px;
}
.shop__cell:hover > .shop__link {
  transition: opacity 0.4s linear;
  opacity: 0.85;
}
.shop__image {
  width: 100%;
  height: auto;
}
.shop__link {
  position: absolute;
  background-color: #64c29e;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s linear;
}

/*=====  End of SHOP  ======*/
/*=============================================
=                 ENTER SHOP                  =
=============================================*/
.enter {
  display: flex;
  width: 100%;
  background-color: #282f35;
}
.enter__btn {
  margin: 4% auto;
  width: 250px;
  background-color: transparent;
  border: 1px solid #94979a;
  padding: 0;
}
.enter__link {
  display: flex;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  padding: 5% 10%;
  transition: all .3s linear;
}
.enter__link:hover {
  transition: all .3s linear;
  background-color: #94979a;
  color: #282f35;
}

/*=====  End of ENTER SHOP  ======*/
/*=============================================
=                   MAILING                   =
=============================================*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
}
.contact__header {
  margin: 2%;
  color: #848789;
  font-style: italic;
  font-size: 1.3em;
}
.contact__form {
  display: inline-flex;
}
.contact__email {
  margin-left: 3px;
  width: 250px;
  padding: 15px;
  font-style: italic;
  color: #929292;
  font-size: 0.9em;
  border: 1px solid #929292;
}
.contact__btn {
  color: #fff;
  background-color: #64c29e;
  border: none;
  width: 70px;
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 5px;
}
.contact__visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*=====  End of MAILING  ======*/
/*=============================================
=                   FOOTER                    =
=============================================*/
.footer {
  display: inline-flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  padding: 5% 10%;
  flex-wrap: wrap-reverse;
}
.footer__col {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}
.footer__col--start {
  flex-direction: column;
  justify-content: flex-start;
}
.footer__col--end {
  justify-content: flex-end;
}
.footer__col--social {
  min-width: 300px;
}
.footer__item {
  margin: 7px;
  font-size: 0.85em;
  color: #848789;
  font-style: italic;
}
.footer__address {
  font-size: 0.85em;
  color: #848789;
}
.footer__address--bold {
  font-weight: bold;
}
.footer__scrollTop {
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(100, 194, 158, 0.75);
  transition: all 0.2s ease-out;
}
.footer__scrollTop:hover {
  transition: all 0.2s ease-out;
  bottom: 1.5%;
}
.footer__scrollTop:after {
  content: "";
  width: 20px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  transform: rotate(125deg) translateX(5px) translateY(15px);
}
.footer__scrollTop:before {
  content: "";
  width: 19px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  transform: rotate(47deg) translateX(-5px) translateY(0px);
}

/*=====  End of FOOTER  ======*/
@media all and (max-width: 950px) {
  .header {
    overflow: hidden;
    /*----------  Navigation  ----------*/
  }
  .header__nav {
    display: flex;
    min-width: min-content;
    max-width: none;
    width: 100%;
    margin-top: 0;
    padding: 5%;
    justify-content: space-between;
  }
  .header__logo {
    position: static;
  }
  .header__button {
    display: flex;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    margin-top: 20%;
    right: 0;
    margin-right: -200%;
    transition: all .3s linear;
    width: 100%;
  }
  .header__list--open {
    display: flex;
    margin-right: 0;
    transition: all .3s linear;
  }
  .header__item {
    background-color: #FFF;
    opacity: 0.6;
    font-size: 2em;
    font-weight: bold;
    margin-right: 0;
    line-height: 4em;
  }
  .header__item:nth-child(even):before {
    display: none;
  }
  .header__link {
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Lato", Arial, sans-serif;
    color: #4d4959;
  }
  .header__link:hover {
    color: #64c29e;
  }
}
