
/*=============================================
=                MEDIA QUERIES                =
=============================================*/


@media #{$large} { // Large 1220px
    .work {
        &__image--red {
            display: none;
        }
    }
}

@media #{$medium} { // Medium 950px

    .header {
        overflow: hidden;
        @include bg-image(background-smaller);

        /*----------  Navigation  ----------*/
        &__nav {
            display: flex;
            min-width: min-content;
            max-width: none;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 0;
            padding: 5%;
            justify-content: space-between;
        }

        &__logo {
            position: static;
        }

        /*----------  HAMBURGER  ----------*/
        
        &__button {
            display: flex;
            position: relative;
            align-items: flex-end;
            align-self: center;
            width: 40px;
            height: 30px;
            padding: 0;
            border: none;
            outline: none;
            background-color: transparent;
            border-top: 5px solid $hover-color;
            transition: transform .1s linear;

            &:before {
                content: "";
                display: flex;
                width: 100%;
                border-top: 5px solid $hover-color;
                position: absolute;
                transition: transform .1s linear;
            }

            &:after {
                content: "";
                display: flex;
                width: 100%;
                border-top: 5px solid $hover-color;
                position: absolute;
                transform: translateY(12px);
                transition: transform .1s linear;
            }

            &--used {
                transition: transform .1s linear;
                width: 20px;
                transform: rotate(45deg);
                
                &:before {
                    transition: transform .1s linear;
                    transform: rotate(-45deg) translateY(-10.5px) translateX(-13px);
                    width: 200%;
                }

                &:after {
                    transition: transform .1s linear;
                    transform: rotate(-90deg) translateY(9px) translateX(5px);
                }
            }
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 3%;
            margin-bottom: 60px;
            transform: translateX(1000px);
            transition: all .3s linear;
            min-width: 90%;
                        

            &--open {
                transform: translateX(0);
                transition: all .3s linear;
            }
        }

        &__item {
            border-radius: 20px;
            margin-top: 1%;
            background-color: #FFF;
            opacity: 0.6;
            font-size: 2em;
            font-weight: bold;
            margin-right: 0;
            line-height: 2em;

            &:nth-child(even):before {
                display: none;
                
            }
        }

        &__link {
            width: 100%;

            &:hover {
                color: #fff;
                background-color: #64c29e;
                border-radius: inherit;
            }
        }

        &__scrollCointainer {
            width: 90%;
        }
    }

    .work {

        &__image {
            flex: 1;
        }
    }

}

@media #{$small} {  // Small 720px

    .footer {
        &__col--social {
            order: 1;
            margin-bottom: 2em;
            flex-basis: auto;
        }
    }

    .work {

        &__image {
            flex-basis: auto;
            min-height: 200px;
            
            &--dark {
                order: -1;
            }
        }

        &__info {
            flex-basis: auto; 
        }
    }

    .shop {
        @include flexbox-inline;
        width: 100%;
        flex-wrap: wrap;
        
        &__large {
            flex-basis: auto;
        }

        &__cell--big {
            flex-basis: 170px;
        }
    }
}

@media #{$mini} {

    .footer {
        flex-direction: column;

        &__col {
            text-align: center;
            margin: 5% 0;
        }

        &__col--social {
            order: -1;
        }
    }

    .header {
        &__scrollContainer {
            display: none;
        }
    }
}

/*=====  End of MEDIA QUERIES  ======*/