// main font
$main-font: "Lato", Arial, sans-serif;


// colors
$menu-font-color: #4d4959;
$header-font-color: #353738;
$content-font-color: #848789;
$hover-color: #64c29e;
$enter-shop-btn: #94979a;
$enter-shop-bg: #282f35;


// Media queries width
$small: "all and (max-width: 717px)";
$medium: "all and (max-width: 950px)";
$large: "all and (max-width: 1220px)";
