// main font
$main-font: "Lato", Arial, sans-serif;

// font colors
$menu-font-color: #4d4959;
$header-font-color: #353738;
$content-font-color: #848789;
$hover-color: #64c29e;

// colors of other elements
$backg-color: #ffffff;
$btn-color: #64c29e;
$enter-shop: #282f35;

$header-image: url("../img/images/main_img.jpg") no-repeat center;