@import "_mixins.scss";
@import "_variables.scss";
@import "_reset.scss";

html, body {
    height: 100%;
    font-family: $main-font;
}


/*=============================================
=                    HEADER                   =
=============================================*/

.header {
    height: 100%;
    @include bg-image(main_img);
    background-size: cover;
    text-align: center;

/*----------  Navigation  ----------*/
    
    &__nav {
        max-width: 800px;
        min-width: 800px;
        margin-top: 73px;
        @include flexbox-inline;
    }

    &__logo {
        position: absolute;
        top: 35px;
    }
    
    &__list {
        @include flexbox-inline;
    }

    &__item {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        position: relative;

        &--longer {
           margin-right: 120px;
        }

        &:nth-child(even):before {
            content: " ";
            width: 2px;
            height: 2px;
            background-color: #000;
            position: relative;
            left: -50px;
            top: 10px;
            
        }
    }

    &__link {
        text-decoration: none;
        letter-spacing: 2px;
        font-family: $main-font;
        color: $menu-font-color;

        &:hover {
            color: $hover-color;
        }
    }
}

/*=====  End of HEADER  ======*/


/*=============================================
=              ABOUT and TWITTER              =
=============================================*/

.about, .twitter {
    @include article-style;
    padding: 5%;

    &__header {
        @include h2-style;
    }

    &__content {
        @include paragraph-style;
        max-width: 1000px;
        display: flex;
    }
}

.twitter {
    &__content {
        font-style: italic;
    }

    &__time {
        font-weight: normal;
        color: $content-font-color;
        text-transform: lowercase;
    }
}

/*=====  End of ABOUT and TWITTER   ======*/


/*=============================================
=                    WORK                     =
=============================================*/

.work {
    @include flexbox-inline;

    &__image {
        display: flex;
        flex: 2;
        @include bg-image(other);
        align-items: center;
        justify-content: center;
    }

    &__image--dark {
        @include bg-image(dark-bike);
    }

    &__image--frame {
        @include bg-image(red-frame);
        flex: 1;
    }

    &__image--red {
        @include bg-image(red-bike);
        flex: 1;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__article {
        @include article-style;
        text-align: justify;
        padding: 10%;
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: #fff;
            z-index: 100;
            bottom: -5px;
            transform: rotate(45deg);
        }
    }

    &__header {
        @include h2-style;
        margin-top: 7%;
        margin-bottom: 3%;
    }

    &__content {
        @include paragraph-style;

        &:after {
            content: "";
            display: flex;
            width: 40px;
            border-bottom: 1px solid $content-font-color;
            margin: auto;
            margin-top: 7%;
        }
    }

    &__example {
        width: 100%;
    }
}

/*=====  End of WORK  ======*/


/*=============================================
=                    SHOP                     =
=============================================*/

.shop {
    @include flexbox-inline;
    width: 100%;
    
    &__large {
        display: flex;
        flex: 2;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    &__row {
       @include flexbox-inline;
       width: 100%;
    }

    &__cell {
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        text-align: center;
        position: relative;
        overflow: hidden;

        &:hover > .shop__link {
            transition: opacity 0.4s linear;
            opacity: 0.85;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__link {
        position: absolute;
        background-color: #64c29e;
        opacity: 0.85;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        opacity: 0;
        transition: opacity 0.4s linear;
    }

}

/*=====  End of SHOP  ======*/


/*=============================================
=                 ENTER SHOP                  =
=============================================*/

.enter {
    display: flex;
    width: 100%;
    background-color: $enter-shop;

    &__btn {
        margin: 4% auto;
        width: 250px;
        background-color: transparent;
        border: 1px solid $btn-shop-color;
        padding: 0;
    }

    &__link {
        display: flex;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
        justify-content: center;
        padding: 5% 10%;
        transition: all .3s linear;

        &:hover {
            transition: all .3s linear;
            background-color: $btn-shop-color;
            color: $enter-shop;
        }
    }
}

/*=====  End of ENTER SHOP  ======*/


/*=============================================
=                   MAILING                   =
=============================================*/

.contact {
    @include article-style;
    padding: 5%;

    &__header {
        margin: 2%;
        color: $content-font-color;
        font-style: italic;
        font-size: 1.3em;
    }

    &__form {
        display: inline-flex;
    }

    &__email {
        margin-left: 3px;
        width: 250px;
        padding: 15px;
        font-style: italic;
        color: #929292;
        font-size: 0.9em;
        border: 1px solid #929292;
    }

    &__btn {
        color: #fff;
        background-color: $hover-color;
        border: none;
        width: 70px;
        font-size: 1.3em;
        font-weight: 300;
        margin-left: 5px; 
    }

    &__visuallyHidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

/*=====  End of MAILING  ======*/


/*=============================================
=                   FOOTER                    =
=============================================*/

.footer {
    @include flexbox-inline;
    width: 100%;
    padding: 5%;
    justify-content: space-around;

    &__col {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        &--column {
            flex-direction: column; 
        }
    }

    &__item {
        margin: 7px;
        font-size: 0.85em;
        color: $content-font-color;
        font-style: italic;
    }

    &__address {
        font-size: 0.85em;
        color: $content-font-color;

        &--bold {
            font-weight: bold;
        }
    }
}

/*=====  End of FOOTER  ======*/


