@import "_mixins.scss";
@import "_variables.scss";
@import "_reset.scss";

html, body {
    height: 100%;
    font-family: $main-font;
}


/*=============================================
=                    HEADER                   =
=============================================*/

.header {
    height: 100%;
    @include bg-image(main_img);
    background-size: cover;
    text-align: center;
    position: relative;

/*----------  Navigation  ----------*/
    
    &__nav {
        max-width: 800px;
        min-width: 800px;
        margin-top: 73px;
        @include flexbox-inline;
    }

    &__logo {
        position: absolute;
        top: 35px;
    }

    
    /*----------  HAMBURGER  ----------*/
    
    &__button {
        display: none;
        position: relative;
        align-items: flex-end;
        align-self: center;
        width: 40px;
        height: 30px;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        border-top: 3px solid $enter-shop-bg;
        transition: transform .1s linear;

        &:before {
            content: "";
            display: flex;
            width: 100%;
            border-top: 3px solid $enter-shop-bg;
            position: absolute;
            transition: transform .1s linear;
        }

        &:after {
            content: "";
            display: flex;
            width: 100%;
            border-top: 3px solid $enter-shop-bg;
            position: absolute;
            transform: translateY(14px);
            transition: transform .1s linear;
        }

        &--used {
            transition: transform .1s linear;
            width: 20px;
            transform: rotate(45deg);
            
            &:before {
                transition: transform .1s linear;
                transform: rotate(-45deg) translateY(-10.5px) translateX(-13px);
                width: 200%;
            }

            &:after {
                transition: transform .1s linear;
                transform: rotate(-90deg) translateY(9px) translateX(5px);
            }
        }
    }
    
    &__list {
        @include flexbox-inline;
    }

    &__item {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        position: relative;

        &--longer {
           margin-right: 120px;
        }

        &:nth-child(even):before {
            content: " ";
            width: 2px;
            height: 2px;
            background-color: #000;
            position: relative;
            left: -50px;
            top: 10px;
            
        }
    }

    &__link {
        text-decoration: none;
        letter-spacing: 2px;
        font-family: $main-font;
        color: $menu-font-color;

        &:hover {
            color: $hover-color;
        }
    }
}

/*=====  End of HEADER  ======*/


/*=============================================
=              ABOUT and TWITTER              =
=============================================*/

.about, .twitter {
    @include article-style;
    padding: 5%;

    &__header {
        @include h2-style;
    }

    &__content {
        @include paragraph-style;
        max-width: 1000px;
        display: flex;
    }
}

.twitter {
    &__content {
        font-style: italic;
    }

    &__time {
        font-weight: normal;
        color: $content-font-color;
        text-transform: lowercase;
    }
}

/*=====  End of ABOUT and TWITTER   ======*/


/*=============================================
=                    WORK                     =
=============================================*/

.work {
    @include flexbox-inline;
    flex-wrap: wrap;

    &__image {
        display: flex;
        // min-width: 450px;
        // min-height: 450px;
        flex: 2;
        @include bg-image(other);
        align-items: center;
        justify-content: center;
    }

    &__image--dark {
        @include bg-image(dark-bike);
    }

    &__image--frame {
        @include bg-image(red-frame);
        flex: 1;
    }

    &__image--red {
        @include bg-image(red-bike);
        flex: 1;
    }

    &__info {
        display: flex;
        // min-width: 450px;
        flex-direction: column;
        flex: 1;
    }

    &__article {
        @include article-style;
        text-align: justify;
        padding: 10%;
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: #fff;
            z-index: 1000;
            bottom: -5px;
            transform: rotate(45deg);
        }
    }

    &__header {
        @include h2-style;
        margin-top: 7%;
        margin-bottom: 3%;
    }

    &__content {
        @include paragraph-style;

        &:after {
            content: "";
            display: block;
            width: 40px;
            border-bottom: 1px solid $content-font-color;
            margin: auto;
            margin-top: 7%;
        }
    }

    &__example {
        width: 100%;
    }
}

/*=====  End of WORK  ======*/


/*=============================================
=                    SHOP                     =
=============================================*/

.shop {
    @include flexbox-inline;
    width: 100%;
    flex-wrap: wrap;
    
    &__large {
        min-width: 300px;
        min-height: 300px;
        display: flex;
        flex: 2;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    &__row {
       @include flexbox-inline;
       width: 100%;
    }

    &__cell {        
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        text-align: center;
        position: relative;
        overflow: hidden;

        &--big {
            min-width: 150px;
            min-height: 300px;
        }

        &:hover > .shop__link {
            transition: opacity 0.4s linear;
            opacity: 0.85;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__link {
        position: absolute;
        background-color: $hover-color;
        opacity: 0.85;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        opacity: 0;
        transition: opacity 0.4s linear;
    }

}

/*=====  End of SHOP  ======*/


/*=============================================
=                 ENTER SHOP                  =
=============================================*/

.enter {
    display: flex;
    width: 100%;
    background-color: $enter-shop-bg;

    &__btn {
        margin: 4% auto;
        width: 250px;
        background-color: transparent;
        border: 1px solid $enter-shop-btn;
        padding: 0;
    }

    &__link {
        display: flex;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
        justify-content: center;
        padding: 5% 10%;
        transition: all .3s linear;

        &:hover {
            transition: all .3s linear;
            background-color: $enter-shop-btn;
            color: $enter-shop-bg;
        }
    }
}

/*=====  End of ENTER SHOP  ======*/


/*=============================================
=                   MAILING                   =
=============================================*/

.contact {
    @include article-style;
    padding: 5%;

    &__header {
        margin: 2%;
        color: $content-font-color;
        font-style: italic;
        font-size: 1.3em;
    }

    &__form {
        display: inline-flex;
    }

    &__email {
        margin-left: 3px;
        width: 250px;
        padding: 15px;
        font-style: italic;
        color: #929292;
        font-size: 0.9em;
        border: 1px solid #929292;
    }

    &__btn {
        color: #fff;
        background-color: $hover-color;
        border: none;
        width: 70px;
        font-size: 1.3em;
        font-weight: 300;
        margin-left: 5px; 
    }

    &__visuallyHidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

/*=====  End of MAILING  ======*/


/*=============================================
=                   FOOTER                    =
=============================================*/

.footer {
    @include flexbox-inline;
    width: 100%;
    padding: 5% 10%;
    flex-wrap: wrap-reverse;

    &__col {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        
        &--start {
            flex-direction: column;
            justify-content: flex-start;
        }

        &--end {
            justify-content: flex-end;
        }

        &--social {
            min-width: 300px;
        }
    }

    &__item {
        margin: 7px;
        font-size: 0.85em;
        color: $content-font-color;
        font-style: italic;
    }

    &__address { 
        font-size: 0.85em;
        color: $content-font-color;

        &--bold {
            font-weight: bold;
        }
    }

    &__scrollTop {
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: rgba(100, 194, 158, 0.75);
        transition: all 0.5s ease-out;

        &:hover {
            transition: all 0.2s ease-out;
            bottom: 1.5%;
        }

        &:after {
            content: "";
            width: 20px;
            height: 5px;
            background-color: #fff;
            position: absolute;
            transform: rotate(125deg) translateX(5px) translateY(15px)
        }

        &:before {
            content: "";
            width: 19px;
            height: 5px;
            background-color: #fff;
            position: absolute;
            transform: rotate(47deg) translateX(-5px) translateY(0px);
        }
        
        &--hidden {
            bottom: -20%;
            transition: all 0.5s linear;
        }
    }
}

/*=====  End of FOOTER  ======*/

@media #{$large} {
    .work {
    
        &__image--red {
            display: none;
        }
    }
}

@media #{$medium} {

    .header {
        overflow: hidden;

        /*----------  Navigation  ----------*/
        &__nav {
            display: flex;
            min-width: min-content;
            max-width: none;
            width: 100%;
            margin-top: 0;
            padding: 5%;
            justify-content: space-between;
        }

        &__logo {
            position: static;
        }

        &__button {
            display: flex;
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: flex-start;
            margin-top: 20%;
            right: 0;
            margin-right: -200%;
            transition: all .3s linear;
            width: 100%;
                        

            &--open {
                display: flex;
                margin-right: 0;
                transition: all .3s linear;
            }
        }

        &__item {
            background-color: #FFF;
            opacity: 0.6;
            font-size: 2em;
            font-weight: bold;
            margin-right: 0;
            line-height: 2em;

            &:nth-child(even):before {
                display: none;
                
            }
        }
    }
    
    .work {

        &__image {
            flex: 1;
        }
    }
}

@media #{$small} {

    .footer {
        &__col--social {
            order: 1;
            margin-bottom: 2em;
            flex-basis: auto;
        }
    }

    .work {

        &__image {
            flex-basis: auto;
            min-height: 200px; 
        }

        &__info {
            flex-basis: auto; 
        }
    }
}