/*---------------  HEADER  ---------------*/
.header {
    min-height: 100%;
    @include bg-image(main_img);
    background-size: cover;
    text-align: center;
    position: relative;

/*--------  Navigation  --------*/
    
    &__nav {
        max-width: 800px;
        min-width: 800px;
        margin-top: 73px;
        @include flexbox-inline;
    }

    &__logo {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 800px;
        top: 36px;
    }

    &__list {
        @include flexbox-inline;
    }

    &__item {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        position: relative;

        &--longer {
           margin-right: 120px;
        }

        &:nth-child(even):before {
            content: " ";
            display: flex;
            width: 2px;
            height: 2px;
            background-color: #000;
            position: relative;
            left: -50px;
            top: 10px;   
        }
    }

    &__link {
        text-decoration: none;
        letter-spacing: 2px;
        font-family: $main-font;
        color: $menu-font-color;

        &:hover {
            color: $green-color;
        }
    }
}