&__btn {
    margin: auto;
    width: 250px;
    background-color: transparent;
    border: 1px solid $gray-color;
    padding: 0;
}

&__link {
    display: flex;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    padding: 5% 10%;
    @include transition($speed: 0.3s);

    &:hover {
        @include transition($speed: 0.3s);
        background-color: $gray-color;
        color: $dark-color;
    }
}