/*----------  Enter shop button  ----------*/
.enter {
    &__btn {
        width: 250px;
        font-size: $small-font;
        background-color: transparent;
        border: 1px solid $gray-color;
        display: flex;
        letter-spacing: 1px;
        color: #fff;
        @include transition($speed: 0.3s);
        justify-content: center;
        padding: 5% 10%;
        cursor: pointer;
        
        &:hover {
            @include transition($speed: 0.3s);
            background-color: $gray-color;
            color: $dark-color;
        }
    }

    &__link {
        text-decoration: none;
        margin: auto;
    }
}