&__scrollTop {
    position: fixed;
    display: block;
    bottom: 2%;
    right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(100, 194, 158, 0.75);
    @include transition($easing: linear);
    cursor: pointer;

    &:after {
        display: block;
        @include arrow-in-button;
        transform: rotate(125deg) translateX(-7px) translateY(0px);
    }

    &:before {
        display: block;
        @include arrow-in-button;
        transform: rotate(47deg) translateX(6px) translateY(-14.5px);
    }
        
    &--hidden {
        bottom: -20%;
        @include transition;
    }
}