
/*=============================================
=                MEDIA QUERIES                =
=============================================*/


/*----------  Large 1220px  ----------*/
@media #{$large} { 
    .work {
        &__image--red {
            display: none;
        }
    }
}

/*----------  Medium 950px  ----------*/
@media #{$medium} {

    .header {
        overflow: hidden;
        @include bg-image(background-smaller);

        &__nav {
            display: flex;
            min-width: min-content;
            max-width: none;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 0;
            padding: 5%;
            justify-content: space-between;
        }

        &__logo {
            position: static;
        }

        /*----------  HAMBURGER BUTTON ----------*/
        @import "components/_hamburger-button.scss";
        
        /*----------  Navigation List ----------*/
        &__list {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 3%;
            margin-bottom: 60px;
            transform: translateX(1000px);
            @include transition ($speed: 0.3s);
            min-width: 90%;
                        
            &--open {
                transform: translateX(0);
                @include transition ($speed: 0.3s);
            }
        }

        &__item {
            border-radius: 20px;
            margin-top: 1%;
            background-color: #FFF;
            opacity: 0.6;
            font-size: $huge-font;
            font-weight: bold;
            margin-right: 0;
            line-height: 2em;

            &:nth-child(even):before {
                display: none;  
            }
        }

        &__link {
            width: 100%;

            &:hover {
                color: #fff;
                background-color: $green-color;
                border-radius: inherit;
            }
        }

        &__scrollCointainer {
            width: 90%;
        }
    }

    .work {

        &__image {
            flex: 1;
        }
    }

}

/*----------  Small 720px  ----------*/
@media #{$small} { 

    .footer {
        &__col--social {
            order: 1;
            margin-bottom: 2em;
            flex-basis: auto;
        }
    }

    .work {

        &__image {
            flex-basis: auto;
            min-height: 200px;
            
            &--dark {
                order: -1;
            }
        }

        &__info {
            flex-basis: auto; 
        }
    }

    .shop {
        @include flexbox-inline;
        width: 100%;
        flex-wrap: wrap;
        
        &__large {
            flex-basis: auto;
        }

        &__cell--big {
            flex-basis: 170px;
        }
    }
}

/*----------  Mini 450px  ----------*/
@media #{$mini} {

    .footer {
        flex-direction: column;

        &__col {
            text-align: center;
            margin: 5% 0;
        }

        &__col--social {
            order: -1;
        }
    }

    .header {
        &__scrollContainer {
            display: none;
        }
    }
}

/*=====  End of MEDIA QUERIES  ======*/